@charset "utf-8";
@import "reset";

* {
  box-sizing: border-box;
}

$color-action: #24b47e;
$color-body: #445367;
$color-gray: #d6d6d6;
$color-blue: #47cfff;
$color-orange: #FF591B;

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: $color-body;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
  font-weight: 500;
}


.button {
  transition: all 0.2s ease;

  &.super {
    background: $color-orange;
    color: #fff;
    padding: 1.5em;
    font-size: 1.1em;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(#000,0.2);
    width: 100%;
    text-align: center;

    &:hover {
      background: lighten($color-orange, 5%);
      box-shadow: 0 4px 8px rgba(#000,0.1);
    }
  }

  &.ghost {
    padding: 1em 2em;
    color: $color-action;
    border: 1px solid $color-gray;
    border-radius: 4px;

    &:hover {
      background: rgba($color-action, 0.05);
    }
  }

  &.contact {
    background: #fff;
    padding: 0.8em 1em;
    border-radius: 4px;
  }

  &.messenger { color: #008FFF; }
  &.whatsapp { color: #00B779; }
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2rem 0;
  z-index: 2;
  transition: all 0.2s ease;

  &.is-scrolling,
  &.is-responsive {
    background: #fff;
    box-shadow: 0 2px 4px rgba(#000,0.1);
    padding: 1rem 0;
  }

  &__brand {
    display: flex;
    align-items: center;
  }

  &__brand-dark {
    display: none;
  }

  &__brand-tagline {
    font-weight: 600;
    font-style: italic;
    padding-left: 0.5em;
    color: #fff;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav a:not(.main-header__login) {
    color: #fff;
  }

  &__action {
    color: #fff;
    background: $color-orange;
    padding: 0.8em;
    border-radius: 0.2em;
    display: none;
  }

  &__login {
    background: #fff;
    color: $color-action;
    padding: 0.8em;
    border-radius: 0.2em;
    margin-left: 1em;

    svg {
      margin-left: 0.5rem;
    }
  }
}

.main-header.is-scrolling,
.main-header.is-responsive {
  .main-header__brand-dark {
    display: inline-block;
  }

  .main-header__brand-white {
    display: none;
  }

  .main-header__brand-tagline,
  .main-header__nav a:not(.main-header__login) {
    color: $color-body;
  }

  .main-header__login {
    background: $color-action;
    color: #fff;
  }
}

.intro {
  height: 90vh;
  background: url('../images/intro.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__title {
    color: rgba(#fff, 0.8);
    font-size: 3.5em;
    text-align: center;
    line-height: 1.2em;

    strong {
      color: #fff;
      font-weight: 800;
      font-style: italic;
      position: relative;

      &:before {
        content: url(../images/stripe.svg);
        position: absolute;
        width: 100%;
        bottom: -4px;
      }
    }
  }

  &__trust {
    position: absolute;
    bottom: 1em;
    width: 200px;
  }
}

.quote-box {
  width: 80%;
  margin: 2rem auto;
  position: relative;

  &__main {
    background: #fff;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(#000,0.1);
    position: relative;
    z-index: 1;
  }

  &__label {
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  &__select {
    background: url(../images/arrow.svg) no-repeat #fff;
    background-position: 90% center;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: 1px solid $color-gray;
    border-radius: 2px;
    font-size: 1.4em;
    padding: 0.5em 1em;
    width: 100%;
    color: $color-action;
  }

  &__payments {
    background: #F7F7F7;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(#000,0.3);
  }

  &__payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__payment + &__payment {
    margin-top: 0.5em;
  }

  &__payment-title {
    color: $color-action;
    display: inline-block;
    padding-right: 1em;
  }

  &__payment-data {
    font-weight: 600;
  }
}

.section {
  padding: 4em 0;

  &__subtitle {
    color: $color-action;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 0.4em;
  }

  &__title {
    font-size: 2em;
    padding: 10px 0;
    text-align: center;
  }
}

.steps {
  &__container {
    padding: 2em 0;
  }

  &__item {
    text-align: center;
  }

  &__item-title {
    color: $color-action;
    padding: 1em 0;
    font-weight: 600;
  }

  &__item-info {
    line-height: 1.5em;
  }
}

.helper-text {
  opacity: 0.5;
  display: block;
  padding-bottom: 0.2em;
}

.why {
  background: #FAFDFD;
  border-top: 1px solid rgba(#000,0.1);
  &__list {
    padding: 2em 0;
  }

  &__item {
    font-weight: 600;
    font-size: 1.2em;
    padding: 1em;

    svg {
      margin-right: 0.5rem;
      display: block;
      float: left;
    }

    svg path {
      fill: $color-action;
    }
  }
}

.actions {
  display: flex;
  &__link {
    width: calc(33.333333% - 3px);
    text-align: center;
    padding: 2em 0;
    border-top: 1px solid rgba(#000,0.1);
    border-bottom: 1px solid rgba(#000,0.1);
    color: $color-body;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      background: rgba($color-action, 0.05);
    }

    span {
      color: $color-action;
      padding-left: 1em;
    }

    &:nth-child(2) {
      border-right: 1px solid rgba(#000,0.1);
      border-left: 1px solid rgba(#000,0.1);
    }
  }
}

.testimonials {
  background: url(../images/test-bg.jpg) no-repeat center center;
  background-size: cover;

  .section__subtitle {
    color: rgba(#fff,0.8);
  }

  .section__title {
    color: #fff;
  }
}

.contact-bar {
  background: $color-action;
  padding: 1em 0;
  text-align: center;
  color: #fff;

  p {
    display: inline-block;
    color: #fff;
    padding-right: 1em;
  }
}

.how {

  &__items {
    padding: 2em 0;
  }

  &__item {
    padding: 1em;
  }

  &__item-subtitle {
    display: block;
    font-weight: 600;
    padding: 1em 0;
  }

  &__item-title {
    color: $color-action;
    font-weight: 600;
    font-size: 1.3em;
    padding-bottom: 1em;
  }

  &__item-text {
    line-height: 1.6em;
    width: 90%;
  }
}

.banks {
  text-align: center;

  &__title {
    font-size: 1.8em;
    font-weight: 600;

    strong {
      color: $color-action;
      font-style: italic;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
  }

  &__item {
    background: #fff;
    padding: 1em 2em;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(#000,0.1);
    min-height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
  }
}

.main-footer {
  padding: 4em 0;
  border-top: 1px solid rgba(#000,0.1);

  &__copyright {
    display: block;
    padding: 1rem 0;
  }

  &__title {
    font-weight: 800;
    padding-bottom: 1rem;
  }

  &__nav {
    a {
      color: $color-body;
      display: block;
      padding: 0.3rem 0;
    }
  }

  &__phone {
    color: $color-body;
    font-size: 1.2em;

    svg path {
      fill: $color-action;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    padding-top: 1rem;

    &-item {
      color: #fff;
      background: $color-action;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & + & {
        margin-left: 1rem;
      }
    }
  }

  &__disclaimer {
    font-size: 0.8rem;
    padding-top: 2em;
  }
}

.faqs {
  background-image: linear-gradient(#fff 0%, #eefcff 100%);

  &__container {
    padding: 2rem 0;
  }

  &__item + &__item {
    margin-top: 2rem;
  }

  &__item-title {
    color: $color-action;
    font-weight: 600;
    padding-bottom: 1em;
  }

  &__item-text {
    line-height: 1.5em;

    p + p {
      margin-top: 1rem;
    }

    strong {
      font-weight: 800;
    }

    ul {
      list-style: disc;
      padding-left: 1em;

      li {
        padding-top: 1em;
      }
    }
  }
}

.ui-corner-all.ui-corner-all {
  height: 20px;
  border-radius: 100em;
  background: #F4F6F2;
  border: 0;
}

#custom-handle {
  width: 6em;
  height: 2.4em;
  top: 50%;
  text-align: center;
  line-height: 36px;
  background: #fff;
  border-radius: 100em;
  font-weight: 40;
  outline: 0;
  color: $color-action;
  transform: translate(-50%, -50%);
  border: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: 'S/ ';
  }
}

.ui-widget-header.ui-widget-header {
  background: #00E69C;
}

.tooltip {
  background: $color-action;
  padding: 1rem;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  transform: translateY(130%);
  right: 5%;
  color: #fff;
  display: none;

  &.is-active {
    display: inline-block;
  }

  &:before {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-action;
    border-top: 10px solid transparent;
    position: absolute;
    top: 0;
    transform: translateY(-99%);
    right: 5%;
  }

  .close {
    margin-left: 0.5rem;
    svg {
      color: #fff;
    }
  }
}


@media screen and (max-width: 900px) {

  .main-header {
    padding: 1rem 0;
  }

  .intro__title {
    font-size: 26px;
  }

  .intro__title strong:before {
    display: none;
  }

  .intro {
    height: auto;
    flex-direction: column;
    padding: 90px 0;
  }

  .intro__trust {
    position: relative;
  }

  .quote-box {
    width: 90%;
  }

  .actions,
  .banks__container {
    flex-direction: column;
  }

  .actions__link {
    width: 100%;
  }

  .contact-bar {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
  }

  .contact-bar p {
    display: none;
  }

  .how__items {
    text-align: center;
  }

  .banks__item {
    margin: 1em 0;
    width: 100%;
  }

  .quote-box__main {
    flex-direction: column;

    & > div {
      margin-bottom: 1em;
    }

  }

  .button.super {
    padding: 1em 0;
  }

  .quote-box__payments {
    width: 100%;
  }

  .quote-box__payment-data {
    display: block;
  }

  .quote-box__payment {
    margin: 10px 0;
  }

  .quote-box__payment div + div {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .main-header__brand-tagline,
  .main-header__contact {
    display: none;
  }

  .main-header.is-scrolling .main-header__nav {
    display: flex;
    align-items: center;
  }

  .main-header.is-scrolling .main-header__nav a {
    font-size: 11px;
  }

  .main-header.is-scrolling .main-header__nav a.main-header__action {
    display: inline-block;
    color: #fff;
  }
}

@media screen and (max-width: 330px) {
  .main-header.is-scrolling .main-header__brand {
    width: 60px;
  }
}